.card-img-top{
    border: 0;
}

.row{
    padding-top: 30px;
}

.btn-primary{
    border-radius: 50px;
}

.col-sm{
    padding: 20px 0;
}

.icon{
    text-align: center;
    background: skyblue;
}

.icon-card{
    padding-top: 0;
}

.icon i{
    padding: 10px 0;
}